@{
    ViewData["Title"] = "Home Page";
}

<h1>Test</h1>

<p id="text">Click the button!</p>

<button id="button">Poke</button>

@section scripts {
     <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.0.3.js"></script>
     <script src="/signalr/js"></script>
     <script>
        $(function () {
            var test = $.connection.test;

            test.client.test = function (message) {
                $("#text").text(message);
            };
                        
            $("#button").click(function() {
                $.ajax({
                    url: "/Test/Poke",
                    method: "GET"
                });
            });

            $.connection.hub.start(function () {
                
            });
        });
    </script>    
}